.details-container {
    /* width: 100%; */
    min-height: 100vh;
    padding: 0 50px;
    width: 85%;
    margin: 56px auto;
}
.blog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details-container h1{
    text-align: center;
    margin: 20px ;
    font-weight: 700;
    font-size: 37px;
    color: rgb(19, 18, 18);
}
.details-container .blog-img{
    width: 860px;
    height: 400px;
    margin-bottom: 30px;
    object-fit: fill;
}
.details-container .blog-time{
    font-size: 13px;
    color: rgb(78, 76, 76);
    margin-bottom: 4px;
    font-weight: 500;
    
}
.details-container .blog-author{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}
.details-container .blog-content{
    font-size: 18px;
    text-align: justify;
    word-spacing: 4px;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(20, 20, 20);
    margin-top: 10px;
    margin-bottom: 10px;
}
.details-container .line{
    margin-bottom: 20px;
}
.writer-profile{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
}
.writer-profile img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
}
.writer-profile h4{
    font-size: 18px;
    color: rgb(46, 43, 43);
    cursor: pointer;
}