.error-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
    height: 90vh;
    flex-direction: column;
}
.error-page button{
    padding: 7px 15px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: rgb(26, 26, 213);
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}